QolossalCheatMenuV3/obj/Debug/net472/QolossalCheatMenuV3.AssemblyInfoInputs.cache
QolossalCheatMenuV3/obj/Debug/net472/QolossalCheatMenuV3.AssemblyInfo.cs
.vs/QolossalCheatMenuV3/FileContentIndex/b1f94e32-24fb-432f-acd7-7ada8b12ee8b.vsidx
.vs/QolossalCheatMenuV3/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
.vs/QolossalCheatMenuV3/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
.vs/QolossalCheatMenuV3/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/QolossalCheatMenuV3/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
.vs/QolossalCheatMenuV3/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
.vs/QolossalCheatMenuV3/CopilotIndices/17.14.1641.39856/CodeChunks.db
QolossalCheatMenuV3/obj/Debug/net472/QolossalCheatMenuV3.AssemblyInfoInputs.cache
QolossalCheatMenuV3/obj/Debug/net472/QolossalCheatMenuV3.AssemblyInfo.cs
QolossalCheatMenuV3/obj/Debug/net472/QolossalCheatMenuV3.AssemblyInfoInputs.cache
QolossalCheatMenuV3/obj/Debug/net472/QolossalCheatMenuV3.AssemblyInfo.cs
/.vs
